@font-face {
    font-family: 'CleverFont';
    src: url('/fonts/Monserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CleverFont';
    src: url('/fonts/Monserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}